.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 0.5s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

h2 {
    color: darkcyan;
}

h1 {
    &.blue {
        background-color: #61dafb;
    }
    &.green {
        background-color: lightgreen;
    }
    &.yellow {
        background-color: lightyellow;
    }
}

$brick: brown;
.A .B {
    .bin {
        color: coral;
        &.brick {
            color: $brick;
        }
    }
    .C {
        .row-1 {
            color: crimson;
        }
        .row-2 {
            color: skyblue;
        }
    }
}

.list-bin {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    i {
        font-size: 0.6em;
    }
}

$buttonBlue: skyblue;
$buttonGray: gray;
$buttonRed: red;
$buttonCoral: coral;


button {
    display:inline-block;
    padding: 0.3em 1.2em;
    margin: 20px 10px;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration:none;
    font-weight: 300;
    color: #FFFFFF;
    background-color: #4eb5f1;
    text-align: center;
    transition: all 0.2s;
    &.blue {
        background-color: $buttonBlue;
        color: white;
        &:hover {
            background-color: darken($color: $buttonBlue, $amount: 20)
        }
    }
    &.gray {
        background-color: $buttonGray;
        color: white;
        &:hover {
            background-color: darken($color: $buttonGray, $amount: 20)
        }
    }
    &.red {
        background-color: $buttonRed;
        color: white;
        &:hover {
            background-color: darken($color: $buttonRed, $amount: 20)
        }
    }
    &.coral {
        background-color: $buttonCoral;
        color: white;
        &:hover {
            background-color: darken($color: $buttonCoral, $amount: 20)
        }
    }
    &:hover {
        background-color:#4095c6
    }
    }

@media all and (max-width:30em){
    a.button3{
        display:block;
        margin:0.2em auto;
    }
    }